@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Coming+Soon|Homemade+Apple|Pacifico|Ranga');

/*body {
  font-family: "Homemade Apple";
}*/

header {
  background-color: pink;
  color: back;
  padding: 0 2%;
  position: fixed;
  width: 96%;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

header h2, header nav, header ul, header li {
  display: inline;
}

header nav {
  margin-top: auto;
  margin-bottom: auto;
}

header nav ul li {
  padding-left: 10px;
}

a {
  text-decoration: none;
  font-size: 2em;
}

header a:visited {
  color: blue;
}

main {
  margin-top: 95px;
}

.banner {
  position: absolute;
  width: 100%;
  font-family: Pacifico;
  font-size: 7em;
  text-align: center;
  margin: 200px auto;
}

.cat-background {
  background: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: auto;
  height: 500px;
}

#closing-statement {
  background: url("../assets/everybody.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.post {
  display: inline-block;
  width: 28%;
  height: 17em;
  vertical-align: text-top;
  border: solid 2px;
  margin: 2%;
  border-radius: 10%;
}

.post h3 {
  height: 3em;
  width: auto;
  margin: 0;
  /*padding: 5%;*/
  text-align: center;
  border-bottom: solid 2px;
  box-sizing: border-box;
}

.post p:first-of-type {
  text-align: justify;
  height: 8em;
  /*height: auto;*/
  padding: 5% 10%;
  margin: 0;
  overflow: hidden;
}

.article-button {
  text-align: center;
}

article p a {
  border: solid 2px;
  padding: 2% 8%;
  font-size: 1em;
  border-radius: 15px;
}

#main-content {
  padding: 0 10%;
  margin-bottom: 1%;
}

#main-content h2 {
  text-align: center;
  font-size: 4em;
  padding: 1% 0;
  margin: 0;
}

#join-us {
  border-top: solid 2px;
}

#join-us h2 {
  font-family: "Homemade Apple";
  text-align: center;
}

.text {
  float: left;
  text-align: justify;
  box-sizing: border-box;
  max-width: 50%;
  padding: 5% 2% 5% 12%;
}

.side-object {
  float: right;
  box-sizing: border-box;
  padding: 2% 13% 2% 0;
  width: 50%;
}

main section:last-of-type {
  clear: both;
}

footer div h4, #disclaimer {
  display: inline;
}

footer nav ul li a {
  font-size: 1.5em;
}

#contact-links {
  padding-top: 4%;

}
